<%- include('partials/header') -%>

<style>
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputBtn {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<body>
      <div class="container mt-5 ">
          <div class='row form'>
            <form action="/" method="POST" style="padding: 10px;">
              <h1 class='m-2'>Enter the Details</h1>
              <div class='col-12 '>
                <label for='fname'>Name</label>
                <input type='text' name="name" placeholder="Full Name" autocomplete="off"/>
              </div>
              <div class='col-12 '>
                <label for='email'>E-mail</label>
                <input type='text' name="email" placeholder="@Email" autocomplete="off"/>
              </div>
              <div class='col-12 '>
                <label for='city'>City</label>
                <input type='text' name="city" placeholder="City" autocomplete="off"/>
              </div>
              <div class='col-6 mt-2'>
                <button class='inputBtn' type="submit">Submit</button>
              </div>
            </form>

            <!-- <form action="/user" method="POST">
                <input type="text" name='search' />
                <button type='submit'>sunmit</button>
            </form> -->
          </div>
        <br>
        <br>

        <% for (var i= users.length-1 ; i>=0 ; i--) { %>
          <div class="card" id='<%= users[i].name %>'>
            <div class="card-header">
              <strong><%= users[i].name %></strong>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p> Hi I am <%= users[i].name %> and I live in <strong><%= users[i].city %></strong></p>
                <footer class="blockquote-footer"><cite title="Source Title"></cite>@<%= users[i].email %></cite></footer>
              </blockquote>
            </div>
          </div>
          <br>
         <% } %>        
    </div>
</body>


</html>

